<?xml version="1.0" encoding="ISO-8859-15"?>
<launch>  
  <!-- camera driver -->
  <node ns="davis/left" name="davis_ros_driver_left" pkg="davis_ros_driver" type="davis_ros_driver" output="screen">
      <!-- Serial number is on the back of the DVS -->
      <param name="serial_number" type="str" value="8401000" />

      <param name="cam_info_url" type="str" value="file://$(find davis_ros_driver)/config/DAVIS-84010004.yaml" />
      <remap from="reset_time" to="/davis/reset_time"/>
      <rosparam command="load" file="$(find davis_ros_driver)/config/standard.yaml" />
  </node>
  
  <node ns="davis/right" name="davis_ros_driver_right" pkg="davis_ros_driver" type="davis_ros_driver" output="screen">
  	<param name="serial_number" type="str" value="8401005" />
        <rosparam command="load" file="$(find davis_ros_driver)/config/standard.yaml" />
        <param name="cam_info_url" type="str" value="file://$(find davis_ros_driver)/config/DAVIS-84010050.yaml" />
	<!-- Wait until both nodes are running before resetting timestamps -->
	<param name="reset_timestamps_delay" type="double" value="2.0" />
        <remap from="reset_time" to="/davis/reset_time"/>
  </node>

  <node pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc" ns="davis" output="screen" required="true"/>

</launch>
